body{
  overflow-y:scroll;
  padding: 0;
  margin: 0;
  font-family: Raleway-Regular;
  font-size: 18px;
  width: 1060px;
  margin: 60px auto;
  text-align: center;
}

@font-face{
  font-family:Raleway-Regularimport;
  src: url('Raleway-Regular.ttf');
  /*url('Raleway.eot') format('embedded-opentype'),
  url('Raleway.otf')format('opentype');*/
}

#main
{
  font-family:Raleway-Regularimport;
  letter-spacing: 12px;
}
  
