body{
  overflow-y:scroll;
  padding: 0;
  margin: 0;
  font-family: Raleway-Light;
  font-size: 18px;
  width: 1060px;
  margin: 40px auto;
  text-align: left;
}

@font-face{
  font-family:Raleway-Lightimport;
  src: url('Raleway-Light.ttf');
  /*url('Raleway.eot') format('embedded-opentype'),
  url('Raleway.otf')format('opentype');*/
}

#h1
{
  font-family:Raleway-Lightimport;
  letter-spacing: 4px;
   text-align: center
}
#h2
{
  font-family:Raleway-Lightimport;
  white-space:pre; 
  letter-spacing: 2px;
  margin:-50px;
   text-align: center
}  
a:link, a:visited {
    background-color: #F8F9F9;
    color: #808B96;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
p {
    font-size: 14px;
    font-family: Raleway;
    line-height: 2;
}

a:hover, a:active {
    color: #2C3E50;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 350px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}
div.desc {
    padding: 15px;
    text-align: center;
    font-size: 14px;
    font-family: Raleway;
    line-height: 2;
}
